<%= form_for(@appraisal) do |f| %>
  <% if @appraisal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appraisal.errors.count, "error") %> prohibited this appraisal from being saved:</h2>

      <ul>
      <% @appraisal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :staff_id %>
    <%= f.text_field :staff_name, class: "form-control" %>
  </div> <br>
  <div class="form-inline">
    <%= f.label :from %>
    <%= f.date_field :from, class: "form-control" %>
    <%= f.label :to %>
    <%= f.date_field :to, class: "form-control" %>
  </div> <br>
  <div class="form-group">
    <%= f.label :appraisal_type %>
    <%= f.text_field :appraisal_type, class: "form-control" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Line Manager 1</th>
        <th>Line Manager 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Job Knowlegde</td>
        <td><span id="job", data-score=<%=@appraisal.job_knowledge %>></span></td>
        <td><span id="job2", data-score=<%=@appraisal.job2 %>></span></td>
      </tr>
      <tr>
        <td>Quality of Work</td>
        <td><span id="work", data-score=<%=@appraisal.quality_of_work %>></span></td>
        <td><span id="work2", data-score=<%=@appraisal.work2 %>></span></td>
      </tr>
      <tr>
        <td>Productivity</td>
        <td><span id="pro", data-score=<%=@appraisal.productivity %>></span></td>
        <td><span id="pro2", data-score=<%=@appraisal.productivity2 %>></span></td>
      </tr>
      <tr>
        <td>Dependability</td>
        <td><span id="dep", data-score=<%=@appraisal.dependability %>></span></td>
        <td><span id="dep2", data-score=<%=@appraisal.dependability2 %>></span></td>
      </tr>
      <tr>
        <td>Attendance</td>
        <td><span id="att", data-score=<%=@appraisal.attendance %>></span></td>
        <td><span id="att2", data-score=<%=@appraisal.attendance2 %>></span></td>
      </tr>
      <tr>
        <td>Relation with others</td>
        <td><span id="rel", data-score=<%=@appraisal.relation_with_others %>></span></td>
        <td><span id="rel2", data-score=<%=@appraisal.relation2 %>></span></td>
      </tr>
      <tr>
        <td>Commitment to safety</td>
        <td><span id="com", data-score=<%=@appraisal.commitment_with_safety %>></span></td>
        <td><span id="com2", data-score=<%=@appraisal.safety2 %>></span></td>
      </tr>
      <tr>
        <td>Supervisory Ability</td>
        <td><span id="sup", data-score=<%=@appraisal.supervisory_ability %>></span></td>
        <td><span id="sup2", data-score=<%=@appraisal.supervisory2 %>></span></td>
      </tr>
      <tr>
        <td>Comment</td>
        <td><%= f.text_area :comment, class: "form-control", rows: 7 %></td>
        <td><%= f.text_area :comment2, class: "form-control", rows: 7 %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<script>
    $('#job').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[job_knowledge]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
      $('#job2').raty({
      starOn: '<%= image_path('star-on.png') %>',
      starOff: '<%= image_path('star-off.png') %>',
      starHalf: '<%= image_path('star-half.png') %>',
      path: '',
      scoreName: 'appraisal[job2]',
      space: true,
      score: function(){
            return $(this).attr('data-score');
          } 
    });
  $('#work').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[quality_of_work]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
  $('#work2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[work2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#pro').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[productivity]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#pro2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[productivity2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#dep').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[dependability]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#dep2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[dependability2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#att').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[attendance]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#att2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[attendance2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#rel').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[relation_with_others]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#rel2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[relation2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#com').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[commitment_with_safety]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#com2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[safety2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#sup').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[supervisory_ability]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
$('#sup2').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[supervisory2]',
    space: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });

</script>
