<h1>Listing Appraisals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Staff</th>
      <th>From</th>
      <th>To</th>
      <th>Appraisal type</th>
      <th>Overall</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisals.each do |appraisal| %>
      <tr>
        <td><%= appraisal.staff.name %></td>
        <td><%= appraisal.from %></td>
        <td><%= appraisal.to %></td>
        <td><%= appraisal.appraisal_type %></td>
        <td class="star-rating", data-score=<%= appraisal.overall %>></td>
        <td><%= appraisal.comment %></td>
        <td><%= link_to 'Show', appraisal %></td>
        <td><%= link_to 'Edit', edit_appraisal_path(appraisal) %></td>
        <td><%= link_to 'Destroy', appraisal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraisal', new_appraisal_path, class: "btn btn-primary" %>
<script>
    $('.star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[job_knowledge]',
    space: true,
    readOnly: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
</script>