<p id="notice"><%= notice %></p>

<h1>Listing Appraisals</h1>

<table>
  <thead>
    <tr>
      <th>Staff</th>
      <th>From</th>
      <th>To</th>
      <th>Appraisal type</th>
      <th>Job knowledge</th>
      <th>Quality of work</th>
      <th>Productivity</th>
      <th>Dependability</th>
      <th>Attendance</th>
      <th>Relation with others</th>
      <th>Commitment with safety</th>
      <th>Supervisory ability</th>
      <th>Overall</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisals.each do |appraisal| %>
      <tr>
        <td><%= appraisal.staff %></td>
        <td><%= appraisal.from %></td>
        <td><%= appraisal.to %></td>
        <td><%= appraisal.appraisal_type %></td>
        <td><%= appraisal.job_knowledge %></td>
        <td><%= appraisal.quality_of_work %></td>
        <td><%= appraisal.productivity %></td>
        <td><%= appraisal.dependability %></td>
        <td><%= appraisal.attendance %></td>
        <td><%= appraisal.relation_with_others %></td>
        <td><%= appraisal.commitment_with_safety %></td>
        <td><%= appraisal.supervisory_ability %></td>
        <td><%= appraisal.overall %></td>
        <td><%= appraisal.comment %></td>
        <td><%= link_to 'Show', appraisal %></td>
        <td><%= link_to 'Edit', edit_appraisal_path(appraisal) %></td>
        <td><%= link_to 'Destroy', appraisal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraisal', new_appraisal_path %>
