<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @appraisal.staff %>
</p>

<p>
  <strong>From:</strong>
  <%= @appraisal.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @appraisal.to %>
</p>

<p>
  <strong>Appraisal type:</strong>
  <%= @appraisal.appraisal_type %>
</p>

<p>
  <strong>Job knowledge:</strong>
  <%= @appraisal.job_knowledge %>
</p>

<p>
  <strong>Quality of work:</strong>
  <%= @appraisal.quality_of_work %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @appraisal.productivity %>
</p>

<p>
  <strong>Dependability:</strong>
  <%= @appraisal.dependability %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @appraisal.attendance %>
</p>

<p>
  <strong>Relation with others:</strong>
  <%= @appraisal.relation_with_others %>
</p>

<p>
  <strong>Commitment with safety:</strong>
  <%= @appraisal.commitment_with_safety %>
</p>

<p>
  <strong>Supervisory ability:</strong>
  <%= @appraisal.supervisory_ability %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @appraisal.overall %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @appraisal.comment %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
