<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @appraisal.staff_name %>
</p>

<p>
  <strong>From:</strong>
  <%= @appraisal.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @appraisal.to %>
</p>

<p>
  <strong>Appraisal type:</strong>
  <%= @appraisal.appraisal_type %>
</p>

<p>
  <strong>Job knowledge:</strong>
  <span class="star-rating", data-score=<%= @appraisal.job_knowledge %>></span>
</p>

<p>
  <strong>Quality of work:</strong>
  <span class="star-rating", data-score=<%= @appraisal.quality_of_work %>></span>
</p>

<p>
  <strong>Productivity:</strong>
  <span class="star-rating", data-score=<%= @appraisal.productivity %>></span>
</p>

<p>
  <strong>Dependability:</strong>
  <span class="star-rating", data-score=<%= @appraisal.dependability %>></span>
</p>

<p>
  <strong>Attendance:</strong>
  <span class="star-rating", data-score=<%= @appraisal.attendance %>></span>
</p>

<p>
  <strong>Relation with others:</strong>
  <span class="star-rating", data-score=<%= @appraisal.relation_with_others %>></span>
</p>

<p>
  <strong>Commitment with safety:</strong>
  <span class="star-rating", data-score=<%= @appraisal.commitment_with_safety %>></span>
</p>

<p>
  <strong>Supervisory ability:</strong>
  <span class="star-rating", data-score=<%= @appraisal.supervisory_ability %>></span>
</p>

<p>
  <strong>Overall:</strong>
  <span class="star-rating", data-score=<%= @appraisal.total %>></span>
</p>

<p>
  <strong>Comment:</strong>
  <%= simple_format(@appraisal.comment) %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
<script>
    $('.star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'appraisal[job_knowledge]',
    space: true,
    readOnly: true,
    score: function(){
          return $(this).attr('data-score');
        } 
  });
</script>
