<h3><%= pluralize(@comments.count, 'Comment') %> for <%= @announcement.topic %></h3>

<%= @comments.arrange(order: :created_at) %>

<table class="table">
  <thead>
    <tr>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= link_to 'Show', [@announcement, comment] %></td>
        <td><%= link_to 'Edit', [:edit, @announcement, comment] %></td>
        <td><%= link_to 'Destroy', [@announcement, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_announcement_comment_path %>
