
<tr class="nested-fields">
  <td><%= f.text_field :name, class: "form-control", size: 30 %></td>
  <td><%= f.number_field :education, class: "form-control" %></td>
  <td><%= f.number_field :work, class: "form-control" %></td>
  <td><%= f.number_field :job, class: "form-control" %></td>
  <td><%= f.number_field :communication, class: "form-control" %></td>
  <td><%= f.number_field :initiative, class: "form-control" %></td>
  <td><%= f.number_field :enthusiasm, class: "form-control" %></td>
  <td><%= f.number_field :company, class: "form-control" %></td>
  <td><%= link_to_remove_association 'X', f %></td>
</tr>
