<tr class="nested-fields">
  <td><%= f.text_field :name %></td>
  <td><%= f.number_field :education %></td>
  <td><%= f.number_field :work %></td>
  <td><%= f.number_field :job %></td>
  <td><%= f.number_field :communication %></td>
  <td><%= f.number_field :initiative %></td>
  <td><%= f.number_field :enthusiasm %></td>
  <td><%= f.number_field :company %></td>
  <td><%= f.text_field :remark %></td>
  <td><%= link_to_remove_association 'X', f %></td>
</tr>