<p>
  <strong>Interviewer:</strong>
  <span><%= @interview.interviewer %>
</span>

<p>
  <strong>Position:</strong>
  <%= @interview.position %>
</p>
<p>
  <strong>Date:</strong>
  <%= @interview.created_at.strftime("%d/%m/%Y") %>
</p>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Education</th>
			<th>Work Experience</th>
			<th>Job Knowledge</th>
			<th>Verbal Communication</th>
			<th>Initiative</th>
			<th>Enthusiasm</th>
			<th>Knowledge of Company</th>
		</tr>
	</thead>
	<tbody>
		<% @interview.interview_candidates.each do |i| %>
		<tr>
			<td> <%= i.name %></td>
			<td class="star-rating" data-score = <%= i.education %>></td>
			<td class="star-rating" data-score = <%= i.work %>></td>
			<td class="star-rating" data-score = <%= i.job %>></td>
			<td class="star-rating" data-score = <%= i.communication %>></td>
			<td class="star-rating" data-score = <%= i.initiative %>></td>
			<td class="star-rating" data-score = <%= i.enthusiasm %>></td>
			<td class="star-rating" data-score = <%= i.company %>></td>
		</tr>
		<% end %>
	</tbody>
</table>
<p>
	<strong>Overall Impression/Recommendations:</strong>
</p>
<p><%= simple_format(@interview.impression) %></p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>

<script>
	$('.star-rating').raty({
		starOn: '<%= image_path('star-on.png') %>',
		starOff: '<%= image_path('star-off.png') %>',
		starHalf: '<%= image_path('star-half.png') %>',
		path: '',
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		}

	});
</script>
