<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingMgt">
			<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMgt" aria-expanded="false" aria-controls="collapseMgt">Management<span class="pull-right">+</span></a></h4>
		</div>
		<div id="collapseMgt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMgt">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Strongly Disagree</th>
							<th>Disagree</th>
							<th>Agree</th>
							<th>Strongly Agree</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Gave fair and equal treatment</td>
							<td><%= f.radio_button :equal_treatment, "strongly disagree" %></td>
							<td><%= f.radio_button :equal_treatment, "disagree" %></td>
							<td><%= f.radio_button :equal_treatment, "agree" %></td>
							<td><%= f.radio_button :equal_treatment, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Was available to discuss job related issues</td>
							<td><%= f.radio_button :discuss_issues, "strongly disagree" %></td>
							<td><%= f.radio_button :discuss_issues, "disagree" %></td>
							<td><%= f.radio_button :discuss_issues, "agree" %></td>
							<td><%= f.radio_button :discuss_issues, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Encouraged feedback and suggestions</td>
							<td><%= f.radio_button :encourage_feedback, "strongly disagree" %></td>
							<td><%= f.radio_button :encourage_feedback, "disagree" %></td>
							<td><%= f.radio_button :encourage_feedback, "agree" %></td>
							<td><%= f.radio_button :encourage_feedback, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Maintained consistent policies and practices</td>
							<td><%= f.radio_button :consistent_policies, "strongly disagree" %></td>
							<td><%= f.radio_button :consistent_policies, "disagree" %></td>
							<td><%= f.radio_button :consistent_policies, "agree" %></td>
							<td><%= f.radio_button :consistent_policies, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Provided recognition for achievements</td>
							<td><%= f.radio_button :provide_recognition, "strongly disagree" %></td>
							<td><%= f.radio_button :provide_recognition, "disagree" %></td>
							<td><%= f.radio_button :provide_recognition, "agree" %></td>
							<td><%= f.radio_button :provide_recognition, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Gave opportunities to develop</td>
							<td><%= f.radio_button :gave_development_opportunities, "strongly disagree" %></td>
							<td><%= f.radio_button :gave_development_opportunities, "disagree" %></td>
							<td><%= f.radio_button :gave_development_opportunities, "agree" %></td>
							<td><%= f.radio_button :gave_development_opportunities, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Provided constructive feedback</td>
							<td><%= f.radio_button :gave_feedback, "strongly disagree" %></td>
							<td><%= f.radio_button :gave_feedback, "disagree" %></td>
							<td><%= f.radio_button :gave_feedback, "agree" %></td>
							<td><%= f.radio_button :gave_feedback, "strongly agree" %></td>
						</tr>
						<tr>
							<td>Clearly communicated decisions and how they would effect your work</td>
							<td><%= f.radio_button :clear_decision, "strongly disagree" %></td>
							<td><%= f.radio_button :clear_decision, "disagree" %></td>
							<td><%= f.radio_button :clear_decision, "agree" %></td>
							<td><%= f.radio_button :clear_decision, "strongly agree" %></td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<%= f.text_area :management_comment, placeholder: "What are your suggestions or improvements to Management?", rows: 5, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
</div>