<%= form_for(@work_shift) do |f| %>
  <% if @work_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_shift.errors.count, "error") %> prohibited this work_shift from being saved:</h2>

      <ul>
      <% @work_shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-inline">
    <%= f.label :from %>
    <%= f.time_select :from, {ampm: true} %>
    <%= f.label :to %>
    <%= f.time_select :to, {ampm: true} %>
  </div> <br>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
