<div class="form-group">
	<%= link_to 'Apply for Leave', new_leave_path, class: "btn btn-primary pull-right" %>
</div>
<%= month_calendar table: {class: "table table-bordered table-hover"}, tr: {class: ""}, td: {class: "day"}, events: @leaves do |date, leaves| %>

<%= date.day %>

<% leaves.each do |leave| %>
<div>
  <p>
    <%= link_to leave.leave_type.name, leave %> (<%= pluralize((leave.to - leave.starts_at).to_i, "day") %>)
  </p>
  <% if leave.status == 'Approved' %>
  <p class="label label-primary">
    <%= leave.staff.name %>
  </p>
  <% elsif leave.status == 'Denied' %>
  <p class="label label-danger">
    <%= leave.staff.name %>
  </p>
  <% else %>
  <p class="label label-warning">
    <%= leave.staff.name %>
  </p>
  <% end %>
</div>
<div>
  <br>
  <p>End-Date: <%= leave.to.strftime("%d/%m/%Y") %></p>
</div>
<% end %>
<% end %>


