<% if @disciplinary_case.close == true %>
<h3>Case Closed!!!</h3>
<% else %>
<p>In progress...</p>
<% end %>
<p>
  <strong>Staff:</strong>
  <%= @disciplinary_case.staff.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= simple_format(@disciplinary_case.reason) %>
</p>

<p>
	<strong>Action Taken:</strong>
	<%= @disciplinary_case.disciplinary_action_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= simple_format(@disciplinary_case.report) %>
</p>

<%= link_to 'Edit', edit_disciplinary_case_path(@disciplinary_case) %> |
<%= link_to 'Back', disciplinary_cases_path %>
